{% extends "layout.html" %}
{% block content %}
        <div class="content-secton">
            <form class='f1' method="POST" action="">
               {{ form.hidden_tag() }}
               <fieldset class="form-group">
                   <legend class="border-bottom mb-4">Plan Your Trip Today </legend>
                   <div class="form-group">
                       {{ form.fn.label(class="form-control-label") }}

                       {% if form.fn.errors %}
                            {{ form.fn(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.fn.errors%}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                             {{ form.fn(class="form-control form-control-lg")}}
                        {% endif %}
                   </div>


                <div class="form-group">
                    {{ form.mn.label(class="form-control-label") }}

                    {% if form.mn.errors %}
                         {{ form.mn(class="form-control form-control-lg is-invalid")}}
                             <div class="invalid-feedback">
                                 {% for error in form.mn.errors%}
                                     <span>{{ error }}</span>
                                 {% endfor %}
                             </div>
                     {% else %}
                          {{ form.mn(class="form-control form-control-lg")}}
                     {% endif %}
                </div>

                <div class="form-group">
                    {{ form.ln.label(class="form-control-label") }}

                    {% if form.ln.errors %}
                         {{ form.ln(class="form-control form-control-lg is-invalid")}}
                             <div class="invalid-feedback">
                                 {% for error in form.ln.errors%}
                                     <span>{{ error }}</span>
                                 {% endfor %}
                             </div>
                     {% else %}
                          {{ form.ln(class="form-control form-control-lg")}}
                     {% endif %}
                </div>

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}

                    {% if form.email.errors %}
                         {{ form.email(class="form-control form-control-lg is-invalid")}}
                             <div class="invalid-feedback">
                                 {% for error in form.email.errors%}
                                     <span>{{ error }}</span>
                                 {% endfor %}
                             </div>
                     {% else %}
                          {{ form.email(class="form-control form-control-lg")}}
                     {% endif %}
                </div>

                <div class="form-group">
                    {{ form.user_type.label(class="form-control-label") }}

                    {% if form.user_type.errors %}
                         {{ form.user_type(class="form-control form-control-lg is-invalid")}}
                             <div class="invalid-feedback">
                                 {% for error in form.user_type.errors%}
                                     <span>{{ error }}</span>
                                 {% endfor %}
                             </div>
                     {% else %}
                          {{ form.user_type(class="form-control form-control-lg")}}
                     {% endif %}
                </div>

                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}

                    {% if form.password.errors %}
                         {{ form.password(class="form-control form-control-lg is-invalid")}}
                             <div class="invalid-feedback">
                                 {% for error in form.password.errors%}
                                     <span>{{ error }}</span>
                                 {% endfor %}
                             </div>
                     {% else %}
                          {{ form.password(class="form-control form-control-lg")}}
                     {% endif %}
                </div>

                <div class="form-group">
                    {{ form.cnfpass.label(class="form-control-label") }}

                    {% if form.cnfpass.errors %}
                         {{ form.cnfpass(class="form-control form-control-lg is-invalid")}}
                             <div class="invalid-feedback">
                                 {% for error in form.cnfpass.errors%}
                                     <span>{{ error }}</span>
                                 {% endfor %}
                             </div>
                     {% else %}
                          {{ form.cnfpass(class="form-control form-control-lg")}}
                     {% endif %}
                </div>

               </fieldset>

               <div>
                   {{ form.submit}}
               </div>
            </form>
        </div>
        <div>
            <small>
                Already Have An Account <a href="{{ url_for('login')}}">Sing In</a>
            </small>
        </div>
{% endblock content %}